@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700&family=Playfair+Display:wght@700&display=swap');
@import "tailwindcss";

@theme {
  --color-primary-brown: #3B1F0E;
  --color-primary-gold: #C8A96E;
  --color-text-light: #F0E6D3;
  --font-dm-sans: 'DM Sans', sans-serif;
}



html,
body {
  font-family: 'DM Sans', sans-serif;
  color: #F0E6D3;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1E1008;
}

::-webkit-scrollbar-thumb {
  background: #C8A96E;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #A07D3E;
}